[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {rumbl,
     [{'Elixir.Rumbl.Endpoint',
          [{render_errors,[{accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Rumbl.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,8888}]},
           {url,[{host,<<"localhost">>}]},
           {root,<<".">>},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {server,true},
           {secret_key_base,
               <<"PlAzKHbKXR6KQerHVUSU2fIq3KXcowdxDIY2vGhS+bckJlDXI40qr06S5ByNSX/L">>}]},
      {'Elixir.Rumbl.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"rumbl">>},
           {password,<<"rumbl">>},
           {database,<<"rumbl_prodJul82016">>},
           {pool_size,20}]}]},
 {phoenix,
     [{serve_endpoints,true},
      {generators,[{migration,true},{binary_id,false}]}]}].
